pytest
pytest-cov
pytest-mock
pytest-asyncio
mypy
pre-commit
radon>=6.0.0
hypothesis
docutils
Pillow
ml-ecosystem-snapshots @ https://github.com/SamuelMarks/ml-ecosystem-snapshots/releases/download/v0.0.3/ml_ecosystem_snapshots-0.0.3-py3-none-any.whl
